{%- assign sidebar = site.data.sidebars['user-guide'] %}

<div id="user-guide-tiles">
    <!-- <h2>Sections of the user guide</h2> -->
    
        {%- for folder in sidebar.subitems %}
        <!--<div class="user-guide-tile-row">-->
            <div class="user-guide-tile user-guide-tile-title">
                {%- if folder.subitems[0].url %}
                <a href="{{ folder.subitems[0].url }}"><strong>{{ folder.title }}</strong></a>
                {%- else %}
                <a href="{{ folder.subitems[0].subitems[0].url }}"><strong>{{ folder.title }}</strong></a>
                {% endif %}
            </div>

            <div class="user-guide-tile user-guide-tile-description"><p>{{ folder.description }}</p></div>
        <!--</div>-->
        {%- endfor %}
    
</div>
