{%- assign sidebar = site.data.sidebars['user-guide'] %}

<div id="user-guide-tiles">
    <!-- <h2>Sections of the user guide</h2> -->
    
        {%- for folder in sidebar.subitems %}
        <!--<div class="user-guide-tile-row">-->
            <div class="user-guide-tile user-guide-tile-title">
                {%- if folder.subitems[0].url %}
                <strong><a href="{{ folder.subitems[0].url }}">{{ folder.title }}</a></strong>
                {%- else %}
                <strong><a href="{{ folder.subitems[0].subitems[0].url }}">{{ folder.title }}</a></strong>
                {% endif %}
            </div>

            <div class="user-guide-tile user-guide-tile-description">{{ folder.description }}</div>
        <!--</div>-->
        {%- endfor %}
    
</div>
