---
http_interactions:
- request:
    method: get
    uri: https://usegalaxy.eu/api/tools
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Clacks-Overhead:
      - GNU James Taylor (@jxtx) Simon Gladman (@slugger70) Jim Johnson (@jj-umn)
    body:
      encoding: ASCII-8BIT
      string: '[{"model_class":"ToolSection","id":"variant_calling","name":"Variant Calling","version":"","description":null,"links":null,"elems":[{"model_class":"Tool","id":"toolshed.g2.bx.psu.edu/repos/iuc/beacon2_csv2xlsx/beacon2_csv2xlsx/2.0.0+galaxy0","name":"Beacon2 CSV2XLSX","version":"2.0.0+galaxy0","description":"v2CSV Models to XLSX","labels":[],"edam_operations":[],"edam_topics":[],"hidden":"","is_workflow_compatible":true,"xrefs":[{"value":"GA4GH Beacon","reftype":"bio.tools"}],"tool_shed_repository":{"name":"beacon2_csv2xlsx","owner":"iuc","changeset_revision":"ba4ed464f8b6","tool_shed":"toolshed.g2.bx.psu.edu"},"link":"/tool_runner?tool_id=toolshed.g2.bx.psu.edu%2Frepos%2Fiuc%2Fbeacon2_csv2xlsx%2Fbeacon2_csv2xlsx%2F2.0.0%2Bgalaxy0","min_width":-1,"target":"galaxy_main","panel_section_id":"variant_calling","panel_section_name":"Variant Calling","form_style":"regular"},{"model_class":"Tool","id":"toolshed.g2.bx.psu.edu/repos/iuc/beacon2_pxf2bff/beacon2_pxf2bff/2.0.0+galaxy0","name":"Beacon2 PXF2BFF","version":"2.0.0+galaxy0","description":"convertsPhenopacket PXF (JSON) to BFF (JSON)","labels":[],"edam_operations":[],"edam_topics":[],"hidden":"","is_workflow_compatible":true,"xrefs":[{"value":"GA4GH Beacon","reftype":"bio.tools"}],"tool_shed_repository":{"name":"beacon2_pxf2bff","owner":"iuc","changeset_revision":"30605b5fc43f","tool_shed":"toolshed[...]
